
  <div class="card mb-3 shadow h-100 card-book" routerLink="books/detail/{{book.id}}">
    <img [src]="book.photoURL" onerror="this.src='assets/img/book-icon.png'" alt="capa do livro" class="card-img-top img-fluid">
    <div class="card-body d-flex flex-column">

      <h5 class="card-title">
        {{book.title | uppercase}}
        <br>
        <small class="text-muted">{{book.author}}</small>
      </h5>
      <a type="button" class="mt-auto btn btn-lg btn-block btn-outline-primary" href="{{book.url}}" target="_blank">Ler Agora</a>

    </div>
  </div>

